#top-button{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--primary);
    color: var(--background);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    text-shadow: 3px 0px 2px black;
    animation: topButton 1s ease-in-out infinite alternate;
    transition: opacity .3s ease, visibility .3s ease;
}
#top-button.moveToTop{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
#top-button:hover{
    transform: scale(1.01);
    animation: none;
}
#top-button:active{
    transform: scale(.95);
}
@keyframes topButton{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-5px);
    }
}

/*hero section*/

@keyframes fadeIn{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
#hero-section{
    background-color: rgb(0, 0, 66);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    padding: 10px;
    height: clamp(50dvh, 100dvh, 100dvh);
    width: clamp(50dvw, 100dvw, 100dvw);
}
#hero-Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 5px 5px 5px;
    gap: 80px;
    max-width: 100dvw;
}

#hero-content{
    width: 40%;
    padding: 10px;
}

#heroMini-heading{
    color: var(--background);
    background-color: var(--primary);
    width: max-content;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 20px;
    transform-origin: left;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#hero-heading{
    color: var(--background);
    font-size: clamp(30px, 5vw, 50px);
    font-weight: bolder;
    width: max-content;
    max-width: 550px;
    margin: 10px 0px 50px 0px;
    transform-origin: left;
    opacity: 0;
    animation: fadeIn 2s ease-in 1s forwards;
}
#hero-heading span{
    color: var(--primary);
}

#hero-description{
    color: var(--background);
    max-width: 550px;
    margin: 10px 0px 50px 0px;
    opacity: 0;
    transform-origin: bottom right;
    animation: fadeIn 1s ease-in 2s forwards;
}

#hero-buttons{
    display: flex;
    gap: 30px;
    opacity: 0;
    animation: fadeIn 1s ease-in 3s forwards;
}

#heroButton1{
    color: var(--background);
    background-color: var(--primary);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.3s ease;
}
#heroButton1:hover{
    background-color: #5b86e4;
    transform: scale(1.05);
}
#heroButton1:active{
    transform: scale(.95);
}


#heroButton2{
    color: var(--background);
    background-color: var(--secondary);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}
#heroButton2:hover{
    background-color: #8dddc3;
    transform: scale(1.05);
}
#heroButton2:active{
    transform: scale(.95);
}
#trust-badge{
    color: rgb(138, 138, 138);
    margin: 30px 0px 0px 0px;
    opacity: 0;
    transform-origin: top left;
    animation: fadeIn 1s ease-in 4s forwards;
}

#hero-image{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#heroFeatured-image{
    width: clamp(200px, 50vw, 600px);
    opacity: 0;
    transform-origin: bottom right;
    animation:
        fadeIn 2s ease-in forwards,
        float 2s linear infinite alternate;
}
@keyframes float{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0);
    }
}

/*categories section*/

#categories-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
#categories-content a{
    text-decoration: none;
}

.categories-Cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(190, 190, 190);
    border-radius: 10px;
    transition: 0.3s;
}
.categories-Cards:hover{
    box-shadow: 2px 2px 20px rgb(168, 168, 168);
    transition: 0.3s;
    transform: translateY(-2px);
}

.cards-image{
    width: 200px;
    height: 130px;
}

.cards-name{
    font-size: 25px;
    margin: 5px 0px;
}
.cards-button{
    color: var(--background);
    background-color: var(--primary);
    border: none;
    width: 100%;
    padding: 10px;
}
.cards-button:hover{
    background-color: #002168;
    transform: scale(1.05);
}
.cards-button:active{
    transform: scale(.95);
}

/*featured product section*/

#featured-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px 20px;
    width: 100%;
}
.featured-Cards{
    width: 250px;
    height: 440px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
}
.featured-Cards:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 20px rgb(184, 183, 183);
    transition: 0.2s;
}

.product-badge{
    position: absolute;
    color: var(--background);
    background-color: var(--secondary);
    font-size: 10px;
    width: max-content;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 20px;
    z-index: 10;
}
.product-wishlistIcon{
    display: flex;
    left: 210px;
    position: absolute;
    fill: var(--secondary);
    width: 25px;
    margin: 5px 5px;
    z-index: 10;
    transition: 0.3s ease;
}
.product-wishlistIcon:hover{
    fill: var(--accent);
    transform: scale(1.5);
}
.product-wishlistIcon:active{
    transform: scale(.95);
}

.product-image{
    position: relative;
    overflow: hidden;
}
.product-image img{
    background: linear-gradient(130deg, black, blue);
    width: 250px;
    height: 250px;
    transition: 0.3 ease;
}
.featured-Cards:hover img{
    transform: scale(1.05);
}
.product-name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary);
    font-size: 20px;
    margin: 10px 5px 0px 5px;
}
.featured-Cards:hover .product-name{
    animation: slideText 2s linear 10 alternate;
}
@keyframes slideText{
    0%{
        text-overflow: clip;
        overflow: visible;
        transform: translateX(0%);
    }
    100%{
        text-overflow: clip;
        overflow: visible;
        transform: translateX(calc(-100% + 180px))
    }
}
.product-brand{
    color: var(--text);
    width: max-content;
    font-size: 12px;
    margin: 5px;
}
.product-rating{
    color: var(--text);
    width: max-content;
    font-size: 10px;
    margin: 5px;
}
.product-price{
    color: var(--text);
    width: max-content;
    font-size: 18px;
    margin: 5px;
    margin-top: 30px;
}
.original-price{
    color: rgb(153, 153, 153);
    width: max-content;
    font-size: 15px;
    margin: 5px;
}

.product-button{
    color: var(--background);
    background-color: var(--primary);
    padding: 5px 15px;
    margin: 10px 5px 0px 5px;
    width: 95%;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.product-button:hover{
    background-color: var(--secondary);
    transition: transform 0.3s ease-out;
    box-shadow: 1px 1px 5px gray;
}
.product-button:active{
    transform: scale(.95);
}

/*flash section header*/

#flash-header{
    background: linear-gradient(to top, black, darkblue, blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    animation: glow 1.5s ease infinite alternate;
}
@keyframes glow{
    0%{
        border: 2px solid blue;
    }
    100%{
        border: 2px solid cyan;
    }
}
#flashHeader-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#flashHeader-content h1{
    color: var(--secondary);
    font-size: 40px;
    margin: 5px 0px;
}
#flashHeader-content p{
    color: var(--background);
    font-size: 25px;
    margin: 5px 0px;
}
#flashHeader-content h2{
    color: var(--accent);
    font-size: 30px;
    margin: 20px 0px 5px 0px;
}

/*flash deals Section*/

#flash-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.flash-Cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-out;
}
.flash-Cards:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 20px rgb(184, 183, 183);
}

.flashProduct-badge{
    position: absolute;
    color: var(--background);
    background-color: var(--secondary);
    font-size: 12px;
    width: max-content;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 20px;
    z-index: 10;
}

.flashProduct-image{
    display: flex;
    position: relative;
}
.flashProduct-image img{
    background: linear-gradient(130deg, black, blue);
    width: 250px;
    height: 260px;
    transition: transform 0.3s ease;
}
.flash-Cards:hover img{
    transform: scale(1.05);
}

.flashProduct-details{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    width: 80%;
    height: 240px;
}
.flashProduct-name{
    color: var(--primary);
    width: max-content;
    font-size: clamp(15px, 5vw, 20px);
    margin: 0px 5px;
}
.flashProduct-brand{
    color: var(--text);
    width: max-content;
    font-size: 12px;
    margin: 0px 5px;
}
.flashProduct-rating{
    color: var(--text);
    width: max-content;
    font-size: 10px;
    margin: 0px 5px;
}
.flashProduct-price{
    color: var(--text);
    width: max-content;
    font-size: 18px;
    margin: 30px 5px 5px 5px;
}
.flashOriginal-price{
    color: rgb(153, 153, 153);
    width: max-content;
    font-size: 15px;
    margin: 0px 5px 10px 5px;
}
.flashProduct-stock{
    font-size: small;
    font-weight: bold;
    margin: 20px 5px 5px 5px;
}
@keyframes progressfill{
    from{
        background: var(--primary);
        width: 0%;
    }
    to{
        background: var(--secondary);
        width: 80%;
    }
}

.flashProduct-button{
    align-self: center;
    color: var(--background);
    background-color: var(--primary);
    margin: 10px 5px 5px 5px;
    padding: 8px 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease-out;
}
.flashProduct-button:hover{
    background-color: var(--secondary);
    transform: translateY(-2px);
    box-shadow: 1px 1px 5px gray;
}
.flashProduct-button:active{
    transform: scale(.99);
}

/*statistics Section*/

#statistics-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.statistics-card{
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(190, 190, 190, 0.705);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    padding: 15px 20px;
    gap: 10px;
}
.statistics-card:hover{
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 0 15px rgb(190, 190, 190)
}

.S-icons{
    fill: blue;
    background-color: rgb(221, 236, 248);
    width: 35px;
    padding: 5px;
    border-radius: 100%;
}

.S-heading{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 18px;
    width: 150px;
    height: 30px;
    color: var(--text);
}

.S-paragraph{
    padding: 10px 0px 0px  0px;
    margin: 0px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    color: grey;
}

/*customer reviews section*/
#Customer-content{
    display: grid;
    width: clamp(70%, 100vw, 100%);
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 5px;
    gap: 30px;
}
.Customer-contentBox{
    box-shadow: 2px 3px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 10px;
    transition:
        transform .3s ease,
        box-shadow .3s ease;
}
.Customer-contentBox:hover{
    box-shadow: 2px 3px 20px rgba(0,0,0,.4);
    transform: scale(1.005);
}
.Customer-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Customer-image{
    width: 50px;
    height: 50px;
}
.Customer-name{
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0px;
}
.Customer-verification{
    color: var(--secondary);
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0px;
}
.Customer-ratings{
    color: var(--primary);
    font-size: 10px;
    margin: 5px 0px;
}
.Customer-reviews{
    color: var(--text);
    font-size: clamp(12px, 3vw, 15px);
    font-weight: 600;
    width: clamp(150px, 30vw, 300px);
    height: clamp(50px , 10vh, 75px);
}

/*NEWSLETTER SECTION*/

#newsletter-section{
    background: linear-gradient(to top, black, darkblue, blue, darkblue, black);
    box-shadow: inset -2px -2px 10px blue,
        inset 2px 2px 5px white;
    padding: 30px 0px;
}
#newsletter-content{
    display: flex;
    flex-direction: column;
    background: #1f29376c;
    box-shadow: inset -2px -2px 10px black,
        inset 2px 2px 5px white;
        -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
}
#newsletter-icon{
    align-self: center;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    padding: 5px;
    box-shadow: inset -2px -2px 10px black,
        inset 2px 2px 5px white;
    fill: var(--primary);
}
#newsletter-heading{
    align-self: center;
    color: var(--background);
    padding: 5px;
}
#newsletter-heading span{
    color: var(--primary);
}
#newsletter-description{
    color: var(--background);
    padding: 5px;
}

#sub-form{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#subEmail-input{
    color: white;
    background: transparent;
    padding: 10px 5px;
    width: 300px;
    box-shadow: inset -2px -2px 10px black,
        inset 2px 2px 5px white;
    border: none;
    transition: box-shadow .3s ease;
}
#subEmail-input:focus{
    box-shadow: inset 2px 2px 2px black,
        inset -2px -2px 2px white;
    outline: none;
}
#sub-button{
    color: var(--text);
    background-color: var(--primary);
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: inset -2px -2px 10px black,
        inset 2px 2px 5px white;
    transition: transform 0.3s ease;
}
#sub-button:hover{
    transform: scale(1.05);
}
#sub-button:active{
    box-shadow: inset 2px 2px 2px black,
        inset -2px -2px 2px white;
    transform: scale(.95);
}

@media (max-width: 768px){

    #top-button{
        font-size: 30px;
        width: 40px;
        height: 40px;
    }

    #getStarted{
        display: none;
    }
    #hero-section{
        padding: 40px 0px;
        min-height: 100dvh;
    }

    #hero-Container{
        flex-direction: column;
        gap: 20px;
    }
    #hero-content{
        width: auto;
    }
    #heroMini-heading{
        font-size: 10px;
    }
    #hero-heading{
        font-size: 25px;
        max-width: 250px;
        margin: 10px 0px 10px 0px;
    }
    #hero-description{
        font-size: clamp(10px, 2vw, 20px);
        margin: 10px 0px;

    }
    #heroButton1{
        font-size: clamp(10px, 2vw, 20px);
    }
    #heroButton2{
        font-size: clamp(10px, 2vw, 20px);
    }
    #trust-badge{
        font-size: clamp(10px, 2vw, 20px);
    }
    
    #hero-image{
        width: auto;
    }

    #heroFeatured-image{
        width: clamp(300px, 20dvw, 400px);
    }

    #categories-content{
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    #featured-content{
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #flashHeader-content h1{
        font-size: 25px;
        margin: 5px 0px;
    }
    #flashHeader-content p{
        color: var(--background);
        font-size: 12px;
        margin: 5px 0px;
    }
    #flashHeader-content h2{
        color: var(--accent);
        font-size: 25px;
        margin: 20px 0px 5px 0px;
    }
    #flash-content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .flash-Cards{
        flex-direction: column;
        width: max-content;
    }
    .flashProduct-details{
        width: 240px;
        height: auto;
    }
    #statistics-content{
        align-items: center;
        justify-content: center;
    }
    #newsletter-section{
        background: linear-gradient(to top, black, darkblue, blue);
    }
    #newsletter-content{
        width: 90dvw;
    }
    #sub-form{
        flex-direction: column;
    }
    #subEmail-input{
        width: 100%;
    }
    #sub-button{
        width: 100%;
    }
}